@using EntityLayer.Concreate;
@model Entry
@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
	<div class="card-header">
		<a href="/heading/index/@Model.HeadingId" style="color:black"><h4 class="mb-0">@Model.Heading.Title</h4></a>
		<div>
			<small class="text-muted">@Model.CreatedDate.ToString("MM.dd.yyyy HH:mm")</small>
		</div>
		<div style="margin-top:1%">
		@if (User.IsInRole("Admin"))
		{
			<div class="btn-group-sm ">
				<a href="/admin/deleteentry/@Model.Id" class="btn btn-danger align-middle">Sil</a>
				<a href="/admin/disableentry/@Model.Id" class="btn btn-warning align-middle">Devre Dışı Bırak</a>
			</div>
		}
		</div>
	</div>
	<div class="card-body">
		<p class="card-text">@Model.Explanation</p>
		<div class="d-flex justify-content-between align-items-center">
			<form method="post">
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-outline-secondary upto-btn" data-content-id="@Model.Id">
						<i class="fas fa-thumbs-up" alt="up"></i> <span class="upvote-count" id="upvote-count-@Model.Id">@Model.UpVote</span>
					</button>
				</div>
			</form>
			<a href="@Url.Action("Profile", "Account", new { username = Model.User.UserName })">
				<small class="text-muted">@Model.User.UserName</small>
			</a>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		$('.upto-btn').click(function () {
			var button = $(this);
			var entryId = button.data('content-id');

			$.ajax({
				url: '/Entry/UpTo/' + entryId,
				type: 'POST',
				success: function (data) {
					var upvoteCount = data.upvoteCount;
					$('#upvote-count-' + entryId).text(upvoteCount);

					if (data.hasUpvoted == false) {
						button.addClass('black-button');
						button.removeClass('gray-button');
					}
					else {
						button.removeClass('black-button');
						button.addClass('gray-button');
					}
				},
				dataType: 'json'
			});
		});
	});
</script>
